.container {
  display: block;
}

.input {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: block;
  font-size: 20px;
  padding: 6px 12px;
  width: 100%;
}

.valid {}

.invalid {
  border-color: red;
}
