.container {
  display: block;
  margin-bottom: 20px;
}

.list {
  display: block;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
}

.item a {
  text-decoration: none;
}
